<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <input type="text" v-model="msg"> -->
        <!-- <input type="checkbox" v-model="msg"> -->
        <!-- <input id="cheng" type="checkbox" value="成哥" v-model="arr"><label for="cheng">成哥</label>
        <input id="deng" type="checkbox" value="邓哥" v-model="arr"><label for="deng">邓哥</label>
        <input id="tong" type="checkbox" value="思彤哥" v-model="arr"><label for="tong">思彤哥</label> -->
        <!-- <input type="radio" v-model="msg" value="男" id="man"><label for="man">男</label> -->
        <!-- <input type="radio" v-model="msg" value="女" id="wen"><label for="wen">女</label> -->
        <!-- <select name="" id="" v-model="msg" >
            <option value="长沙">长沙</option>
            <option value="北京">北京</option>
            <option value="杭州">杭州</option>
        </select> -->
        <input type="text" v-model.number="msg">
    </div>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                msg: "",
                bool: true,
                arr: []
            }
        })
    </script>
</body>
</html>