@import 'reset.css';

body,html,#app{
    height: 100%;
}

#app{
    overflow-y: scroll;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo{
    margin-left: 18px;
}

.search-input{
    width: 132px;
    height: 24px;
    font-size: 10px;
    color: #999;
    background-color: #f4f4f4;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.search-input svg{
    margin-left: 10px;
}

.search-input span{
    width: 92px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.avatar svg{
    border-radius: 50%;
}

.download-app{
    height: 23px;
    line-height: 23px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background:#fb7299;
    border-radius: 4px;
    margin-right: 12px;
}

.nav-box{
    position: fixed;
    top: 54px;
    background-color: #fff;
    width: 100%;
    z-index: 1;
}

.nav-box .nav-list{
    width: 85%;
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 24px;
}

.nav-box .nav-list::-webkit-scrollbar{
    display: none;
}

.nav-box li{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 40px;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    color: #757575;
}

.nav-box li.active{
    border-color: #fb7299;
    color: #fb7299;
}

.nav-box .down{
    position: absolute;
    top: -3px;
    right: 13px;
}

.hide-nav-box{
    position: fixed;
    top: 54px;
    width: 100%;
    padding-bottom: 20px;
    background-color: #fff;
    transition: top .3s;
    z-index: 2;
}

.hide-nav-box.hide{
    top: -117px;
}

.hide-nav-box li{
    display: inline-block;
    width: 32px;
    text-align: center;
    margin: 0 14px 10px 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #757575;
    font-size: 14px;
    border-bottom: 2px solid transparent;
}

.hide-nav-box li.active{
    border-color: #fb7299;
    color: #fb7299;
}

.hide-nav-box li.big{
    width: 46px;
    margin-right: 7px;
    margin-left: 7px;
}

.hide-nav-box .up{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.banner-box{
    margin-top: 90px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 110px;
    border-radius: 6px;
    overflow: hidden;
}

.banner-box .banner-list{
    position: absolute;
    width: calc(350px * 4);

}

.banner-box .banner-list::after{
    content: '';
    display: block;
    clear: both;
}

.banner-box .banner{
    float: left;
    width: 350px;
    height: 110px;
}

.banner-box img{
    width: 100%;
    height: 100%;
}

.banner-box .index-list{
    height: 10px;
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    padding: 0 3px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.banner-box .index{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 0 3px;
    background-color: #fff;
}

.banner-box .index.active{
    background-color: #fb7299;
}

.video-box{
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 10px;
}

.video-list::after{
    content: '';
    display: block;
    clear: both;
}

.video-box .video{
    float: left;
    width: 50%;
}

.video-box .poster{
    position: relative;
    height: 106px;
    margin: 0 6px;
    border-radius: 6px;
    overflow: hidden;
}

.video-box .poster img{
    width: 100%;
    height: 100%;
}

.video-box .poster .info{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    padding: 7px 0 3px 10px;
    color: #fff;
    font-size: 12px;
    background-image: linear-gradient(rgba(33, 33, 33, 0), rgba(33, 33, 33, .5));

}

.video-box .info div{
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.video-box .info svg{
    margin-right: 3px;
    width: 14px;
    height: 14px;
    fill: #fff;
}

.video-box .title{
    margin: 6px 6px 10px 6px;
    height: 38px;
    line-height: 20px;
    font-size: 13px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.footer{
    margin-top: 40px;
}

.footer p{
    margin-bottom: 20px;
    text-align: center;
    font-size: 13px;
    color: #999;
}