<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="area" v-for="val in 2">
            <h2>{{ val===1 ? '提问区' : '回答展示区' }}</h2>
            <ul>
                <li v-for="question in questionList" :key="question.id">
                    <h3>{{ question.title }}</h3>
                    <template v-if="val === 1">
                        <!-- 姓名 -->
                        <div v-if="question.type === 'short'">
                            <input type="text" v-model.lazy="question.answer">
                        </div>
                        <!-- 性别 -->
                        <div v-else-if="question.type === 'single'">
                            <div v-for="choose in question.chooseList">
                                <input type="radio" :value="choose" v-model="question.answer">
                                <span>{{ choose }}</span>
                            </div>
                        </div>
                        <!-- 兴趣爱好 -->
                        <div v-else-if="question.type === 'multiple'">
                            <div v-for="choose in question.chooseList">
                                <input type="checkbox" :value="choose" v-model="question.answer">
                                <span>{{ choose }}</span>
                            </div>
                        </div>
                        <!-- 介绍 -->
                        <div v-else>
                            <textarea v-model="question.answer"></textarea>
                        </div>
                    </template>
                    <template v-else>
                        <div>
                            <span>{{ Array.isArray(question.answer) ? question.answer.toString() : question.answer }}</span>
                        </div>
                    </template>
                </li>
            </ul>
        </div>
    </div>
    <script>
        //创建Vue实例,得到ViewModel
        var vm = new Vue({
            el: '#app',
            data: {
                questionList: [
                    {
                        type: 'short',
                        title: '1.请问你的姓名是？',
                        chooseList: null,
                        answer: '',
                        id: 0
                    },
                    {
                        type: 'single',
                        title: '2.请问您的性别是？',
                        chooseList: [
                            '男',
                            '女',
                            '保密',
                        ],
                        answer: '',
                        id: 1,
                    },
                    {
                        type: 'multiple',
                        title: '3. 请选择您的兴趣爱好：',
                        chooseList: [
                            '看书',
                            '游泳',
                            '跑步',
                            '看电影',
                            '听音乐',
                        ],
                        answer: [],
                        id: 2,
                    },
                    {
                        type: 'long',
                        title: '4. 请介绍一下自己:',
                        chooseList: null,
                        answer: '',
                        id: 3,
                    },
                ]
            },
        });
    </script>
</body>

</html>