<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="../vue.js"></script>
    <script src="./axios.js"></script>
</head>

<body>
    <div id="app">
        <div id="app">
            <div class="username">
                <input type="text" placeholder="用户名" v-model="name">
            </div>
            <div class="mail">
                <input type="text" placeholder="邮箱" v-model="mail">
            </div>
            <div class="upload-btn" @click="handleUpload">上传</div>
            <div class="show-btn" @click="handleShow">显示人物信息</div>
            <ul class="person-list" v-if="personNewList.length">
                <li class="person" v-for="person in personNewList">
                    <span>{{ person.name }}</span>
                    <span>{{ person.mail }}</span>
                </li>
            </ul>
        </div>
    </div>
    <script>
        // const instance = axios.create({
        //     baseURL: 'https://developer.duyiedu.com/vue',
        //     timeout: 1000,
        // })
        axios.defaults.baseURL = "https://developer.duyiedu.com/vue";
        const vm = new Vue({
            el: "#app",
            data: {
                name: "",
                mail: "",
                msg: "",
                personList: [],
            },
            computed:{
                personNewList(){
                    return this.personList.slice(0,30)
                }
            },
            methods: {
                handleUpload() {
                    // const { name, mail } = this;
                    // axios.post('/setUserInfo', { name, mail }, {
                    //     baseURL: "https://developer.duyiedu.com/vue"
                    // }).then(res => {
                    //     this.msg = res.data.msg;
                    // })
                    
                },
                handleShow() {
                    // instance.get("/getUserInfo").then(res => {
                    //     this.personList = res.data.data.slice(0,50);
                    // })
                    // axios.all([
                    //     axios.post("/setUserInfo",{name: "qbcde",mail: "qbcde@qq.com"}),
                    //     axios.get('/getUserInfo')
                    // ]).then(axios.spread((aRes, bRes) => {
                    //     console.log(aRes, bRes);
                    //     this.personList = bRes.data.data.slice(0,50);
                    // }))
                    axios.get('/getUserInfo').then( res => {
                        this.personList = res.data.data
                    })
                }
            },
            watch: {
                msg() {
                    if (this.msg == '') {
                        return;
                    }
                    alert(this.msg);
                    this.msg = '';
                }
            }
        })
    </script>
</body>

</html>