<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="container">
                <div class="logo">toDoList</div>
                <div class="input-area">
                    <input type="text">
                    <button @click="addTask">添加</button>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>
                <span>正在进行</span>
                <span class="mask-num" v-text="ongoingList.length">0</span>
            </h2>
            <ul class="mask-list">
                <li v-for="task in ongoingList">
                    <div>
                        <input type="checkbox" @click.prevent="complete(task)">
                        <span>{{ task }}</span>
                    </div>
                    <button @click="ongoingRemove(task)">删除</button>
                </li>
            </ul>
        </div>
        <div class="container">
            <h2>
                <span>已经完成</span>
                <span class="mask-num" v-text="completedList.length">0</span>
            </h2>
            <ul class="mask-list complete-list">
                <li v-for="task in completedList">
                    <div>
                        <input type="checkbox" @click.prevent="again(task)">
                        <span>{{ task }}</span>
                    </div>
                    <button @click="completedRemove(task)">删除</button>
                </li>
            </ul>
        </div>
    </div>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                ongoingList: [],
                completedList: [],
            },
            methods: {
                addTask() {
                    var input = document.querySelector('input[type="text"]')
                    var val = input.value;
                    input.value = "";
                    this.ongoingList.push(val);
                },
                complete(task) {
                    var i = this.ongoingList.indexOf(task);
                    this.ongoingList.splice(i, 1);
                    this.completedList.push(task);
                },
                ongoingRemove(task) {
                    var i = this.ongoingList.indexOf(task);
                    this.ongoingList.splice(i, 1);
                },
                again(task) {
                    var i = this.completedList.indexOf(task);
                    this.completedList.splice(i, 1);
                    this.ongoingList.push(task);
                },
                completedRemove(task){
                    var i = this.completedList.indexOf(task);
                    this.completedList.splice(i, 1);
                }
            }
        })
    </script>
</body>

</html>